@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";

.about {
  background: #eff3fa;

  &__wrapper {
    padding: 0 25px;
    width: 100%;
    height: 100%;
    max-width: 1075px;
    margin: 0 auto;

    &--flex {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      flex-wrap: wrap;

      @include respond-to(xsm) {
        flex-direction: row;
      }

      .image {
        width: 100%;

        @include respond-to(xsm) {
          width: 50%;
          position: relative;
          overflow: hidden;
        }

        img {
          width: 100%;
          background-attachment: scroll;

          @include respond-to(xsm) {
            height: 120%;
            object-fit: cover;
            overflow: hidden;
          }
        }
      }

      .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 0 45px 0;
        width: 100%;

        @include respond-to(xsm) {
          padding: 45px 40px;
          width: 50%;
        }

        &__wrapper {
          h3 {
            margin: 20px 0 10px 0;
            font-family: "Cormorant Garamond";
            font-weight: 400;
            font-size: 35px;
            color: #4d565b;
          }
        }
        .award {
          margin-top: 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &__wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 15px 5px;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;

            &--right {
              margin-right: 12px;

              img {
                width: 38px;
              }
            }

            &--center {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-start;

              p {
                font-family: "Roboto";
                font-weight: 500;
                font-size: 12px;
                text-align: left;
                color: #4d565b;
                text-transform: uppercase;
                letter-spacing: 0.3px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}
